ion-item.item { 
    margin-top: 20px; 
}

ion-item-option {
    margin-top: 21px;
}

ion-avatar {
    width: 55px;
    height: 55px;
    --border-radius: 10px;
}

ion-badge {
    --padding-top: 5px;
    --padding-bottom: 5px;
}

.fontbig {
    font-size: 19px;
}